# Build
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/

# Logs
*.log

# Cache
*.db
*.idx
*.cache
*.pidb

# Others
*.DS_Store
